.venv/
__pycache__/
*.py[cod]
logs/*
!logs/control/
logs/control/*
!logs/control/.gitkeep
recordings/*
!recordings/.gitkeep
screenshots/*
!screenshots/.gitkeep
output/*
!output/.gitkeep
model/*.weights
model/*.cfg
.idea/
.vscode/
.DS_Store
Thumbs.db
